@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-dark: var(--primary-dark);

  --color-background-dark: var(--background-dark);
  --color-slate-card: var(--slate-card);
  --color-slate-border: var(--slate-border);

  --font-display: var(--font-lexend);
  --font-sans: var(--font-inter);

  --radius-apple: 12px;
  --radius-apple-lg: 20px;
}

:root {
  --background: #f6f8fa;
  --foreground: #171717;

  --primary: #19e65e;
  --primary-hover: #15c34f;
  --primary-dark: #2ea44f;

  --background-dark: #0a0c0b;
  --slate-card: #161b18;
  --slate-border: #242d27;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d1117;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
